@model ToolsStore.WebUI.Models.ProductViewModel

@{
    ViewBag.Title = "Редактирование товара";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Редактирование</h2>
<h3>Идентификатор: @Model.Product.ProductId</h3>

@using (Html.BeginForm("ProductEdit", "Product",
        FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div>
        @Html.HiddenFor(x => x.Product.ProductId)
    </div>
    <div>
        @Html.HiddenFor(x => x.Product.ImageId)
    </div>
    <div style="font-weight:bold">
        Наименование:
    </div>
    <div>
        @Html.EditorFor(x => x.Product.Name)
    </div>
    <div style="font-weight:bold">
        Тип оборудования:
    </div>
    <div>
        @Html.DropDownListFor(m => m.Product.EquipmentId, new SelectList(Model.Equipments, "EquipmentId", "Name"), new { style = "width:338px" })
    </div>
    <div style="font-weight:bold">
        Модель:
    </div>
    <div>
        @Html.DropDownListFor(m => m.Product.ModelId, new SelectList(Model.Models, "ModelId", "Name"), new { style = "width:338px" })
    </div>
    <div style="font-weight:bold">
        Описание:
    </div>
    <div>
        @Html.EditorFor(x => x.Product.Descr)
    </div>
    <div style="font-weight:bold">
        Масса:
    </div>
    <div>
        @Html.EditorFor(x => x.Product.Mass)
    </div>
    <div style="font-weight:bold">
        Длина:
    </div>
    <div>
        @Html.EditorFor(x => x.Product.Length)
    </div>
    <div style="font-weight:bold">
        Ширина:
    </div>
    <div>
        @Html.EditorFor(x => x.Product.Width)
    </div>
    <div style="font-weight:bold">
        Высота:
    </div>
    <div>
        @Html.EditorFor(x => x.Product.Height)
    </div>
    <div style="font-weight:bold">
        Цвет:
    </div>
    <div>
        @Html.EditorFor(x => x.Product.Color)
    </div>
    <div style="font-weight:bold">
        Мощность:
    </div>
    <div>
        @Html.EditorFor(x => x.Product.Power)
    </div>
    <div style="font-weight:bold">
        Комплект:
    </div>
    <div>
        @Html.EditorFor(x => x.Product.Kit)
    </div>
    <div style="font-weight:bold">
        Признак активности:
    </div>
    <div>
        @Html.EditorFor(x => x.Product.IsActive)
    </div>
    <div class="editor-label">Изображение</div>
    <div class="editor-field">
        @if (Model.Product.CT_IMAGE == null || Model.Product.CT_IMAGE.Data == null)
        {
            @:None
        }
        else
        {
            <img width="150" height="150" src="@Url.Action("GetImage", "Product", new {Model.Product.ImageId })" />
        }
        <div>
            Загрузить новое изображение:
            <input type="file" name="Image" />
        </div>
    </div>
    <div>
        @Html.ActionLink("Выгрузить изображение", "DownLoadFile", new { Model.Product.ProductId })
        &nbsp;
        @Html.ActionLink("Очистить изображение", "ClearImage", new { Model.Product.ProductId })
    </div>
    <div>&nbsp;</div>
    <input type="submit" value="Сохранить" />
    @Html.ActionLink("Отменить и вернуться к списку", "Products")
}