@model IEnumerable<ToolsStore.Domain.Entities.RS_PRODUCT>

@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Товары</h1>

<p>
    @Html.ActionLink("Вернуться к списку", "Index", "Admin")
</p>

<p>
    @Html.ActionLink("+ Добавить товар", "ProductCreate")
</p>

<table class="Grid">
    <tr>
        <th>ID</th>
        <th>Тип оборудования</th>
        <th>Модель</th>
        <th>Наименование</th>
        <th>Описание</th>
        <th>Масса</th>
        <th>Длина</th>
        <th>Ширина</th>
        <th>Высота</th>
        <th>Цвет</th>
        <th>Мощность</th>
        <th>Комплект</th>
        <th>Активность</th>
        <th>Действие</th>
        <th>Изображение</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ProductId</td>
            <td>@Html.DisplayFor(modelItem => item.SK_EQUIPMENT.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.SK_MODEL.Name)</td>
            <td>@Html.ActionLink(item.Name, "ProductEdit", new { item.ProductId })</td>
            <td>@item.Descr</td>
            <td>@item.Mass</td>
            <td>@item.Length</td>
            <td>@item.Width</td>
            <td>@item.Height</td>
            <td>@item.Color</td>
            <td>@item.Power</td>
            <td>@item.Kit</td>
            <td>@Html.DisplayFor(modelItem => item.IsActive)</td>
            <td>
                @using (Html.BeginForm("ProductDelete", "Product"))
                {
                    @Html.Hidden("productId", item.ProductId)
                    <input type="submit" value="удалить" />
                }
            </td>
            <td>
                @using (Html.BeginForm("ClearImage", "Product"))
                {
                    @Html.Hidden("productId", item.ProductId)
                    <input type="submit" value="очистить" />
                }
            </td>
        </tr>
    }
</table>