@model IEnumerable<ToolsStore.Domain.Entities.MT_LOAD_RULE_SPEC>

@{
    ViewBag.Title = "Правила загрузки (специальные)";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Правила загрузки (специальные)</h1>

<p class="actionButtons">
    <a href="@ViewBag.ReturnUrl">Вернуться к списку</a>
</p>

@if (!((bool)@ViewBag.Hidden))
{
    <p>@Html.ActionLink("+ добавить", "RuleSpecCreate")</p>
}

<table class="Grid">
    <tr>
        <th>ID</th>
        <th>Код загрузки</th>
        <th>Правило загрузки</th>
        <th>Тип пантомимы</th>
        <th>Наименование файла</th>
        <th>Размер, КБ</th>
        <th>Путь</th>        
        <th>Главный (в правиле)</th>
        <th>Дата загрузки</th>                                        
        @if (!((bool)@ViewBag.Hidden))
        {
            <th></th>
            <th></th>
        }
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            @if (!((bool)@ViewBag.Hidden))
            {
                <td>@Html.ActionLink(item.LoadRuleSpecId.ToString(), "RuleSpecEdit", new { item.LoadRuleSpecId })</td>
            }
            else
            {
                <td>@item.LoadRuleSpecId</td>
            }
            <td>@Html.DisplayFor(modelItem => item.MT_LOAD_RULE.Code)</td>
            <td>@Html.DisplayFor(modelItem => item.MT_LOAD_RULE.Descr)</td>
            <td>@item.MimeType</td>
            <td>@item.FileName</td>            
            <td>@(@Math.Round((decimal)(item.Size ?? 0) / 1024, 2))</td>
            <td>@item.PathToFile</td>
            <td>@Html.DisplayFor(modelItem => item.IsMain)</td>                                           
            <td>@Html.DisplayFor(modelItem => item.DateLoad)</td>
            @if (!((bool)@ViewBag.Hidden))
            {
                <td>
                    @using (Html.BeginForm("RuleSpecEdit", "RuleSpec", FormMethod.Get))
                    {
                        @Html.Hidden("LoadRuleSpecId", item.LoadRuleSpecId)
                        <input type="submit" value="* редактировать" />
                    }
                </td>
                <td>
                    @using (Html.BeginForm("RuleSpecDelete", "RuleSpec", FormMethod.Post))
                    {
                        @Html.Hidden("LoadRuleSpecId", item.LoadRuleSpecId)
                        <input type="submit" value="- удалить" />
                    }
                </td>
            }
        </tr>
    }
</table>