@model ToolsStore.WebUI.Models.RuleSpecViewModel

@{
    ViewBag.Title = "Редактирование правили (загрузка специальных параметров - файлов)";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Идентификатор: @Model.LoadRuleSpec.LoadRuleSpecId</h2>

@using (Html.BeginForm("RuleSpecEdit", "RuleSpec",
                    FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div>
        @Html.HiddenFor(x => x.LoadRuleSpec.LoadRuleSpecId)
    </div>
    <div style="font-weight:bold">
        Правило загрузки:
    </div>
    <div>
        @Html.DropDownListFor(m => m.LoadRuleSpec.LoadRuleId, new SelectList(Model.LoadRules, "LoadRuleId", "Code"), new { style = "width:338px" })
    </div>
    <div>&nbsp;</div>
    <div style="font-weight:bold">
        Тип пантомимы:
    </div>
    <div>
        @Html.TextBoxFor(x => x.LoadRuleSpec.MimeType, new { @readonly = "readonly" })
    </div>
    <div>&nbsp;</div>
    <div style="font-weight:bold">
        Наименование файла:
    </div>
    <div>
        @Html.TextBoxFor(x => x.LoadRuleSpec.FileName, new { @readonly = "readonly" })
    </div>
    <div>&nbsp;</div>
    <div style="font-weight:bold">
        Размер (в байтах):
    </div>
    <div>
        @Html.TextBoxFor(x => x.LoadRuleSpec.Size, new { @readonly = "readonly" })
    </div>
    <div>&nbsp;</div>
    <div style="font-weight:bold">
        Путь:
    </div>
    <div>
        @Html.TextBoxFor(x => x.LoadRuleSpec.PathToFile)
    </div>
    <div>&nbsp;</div>
    <div style="font-weight:bold">
        Признак активности:
    </div>
    <div>
        @Html.EditorFor(x => x.LoadRuleSpec.IsActive)
    </div>
    <div class="editor-label">Файл</div>
    <div class="editor-field">
        <div>
            Загрузить новый файл:
            <input type="file" name="File" />
        </div>
    </div>
    <div>
        @Html.ActionLink("Выгрузить", "DownLoadFile", new { Model.LoadRuleSpec.LoadRuleSpecId })
    </div>
    <div>&nbsp;</div>
    <input type="submit" value="Сохранить" />
    @Html.ActionLink("Отменить и вернуться к списку", "RulesSpec")
}