@model IEnumerable<ToolsStore.Domain.Entities.MT_LOAD_RULE_SPEC>

@{
    ViewBag.Title = "Правила загрузки (специальные)";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Правила загрузки (специальные)</h1>

<p>
    @Html.ActionLink("Вернуться к списку", "Index", "Admin")
</p>

@*<p>
    @Html.ActionLink("+ Добавить правило загрузки (специальное)", "RuleSpecCreate")
</p>*@

<table class="Grid">
    <tr>
        <th>ID</th>
        <th>Тип пантомимы</th>
        <th>Наименование</th>
        <th>Дата загрузки</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.LoadRuleSpecId</td>
            <td>@item.MimeType</td>
            <td>@item.Name</td>
            <td>@Html.DisplayFor(modelItem => item.DateLoad)</td>
        </tr>
    }
</table>