@model IEnumerable<ToolsStore.Domain.Entities.CT_CATEGORY>

@{
    ViewBag.Title = "Категории";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Категории</h1>

<p>
    @Html.ActionLink("Вернуться к списку", "Index", "Admin")
</p>

<p>
    @Html.ActionLink("+ Добавить категорию", "CategoryCreate")
</p>

<p>
    @Html.ActionLink("Выгрузить категорию (dbf)", "DownloadCategoryDBF") &nbsp;&nbsp;&nbsp;
    @Html.ActionLink("Выгрузить категорию (xml)", "DownloadCategoryXML")
</p>

@using (Html.BeginForm("Categories", "Categor"))
{
    <p>
        @Html.CheckBox("OrderCategories", htmlAttributes: new { @class = "form-control" })
        <input type="submit" value="Упорядочить по возрастанию" />
    </p>
}

<table class="Grid">
    <tr>
        <th>ID</th>
        <th>Код</th>
        <th>Наименование</th>
        <th>Порядок</th>
        <th>Дата загрузки</th>
        <th>Действие</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.CategoryId</td>
            <td>@Html.ActionLink(item.Code, "CategoryEdit", new { item.CategoryId })</td>
            <td>@item.Name</td>
            <td>@item.Ord</td>
            <td>@Html.DisplayFor(modelItem => item.DateLoad)</td>
            <td>
                @using (Html.BeginForm("CategoryDelete", "Categor"))
                {
                    @Html.Hidden("categoryId", item.CategoryId)
                    <input type="submit" value="удалить" />
                }
            </td>
        </tr>
    }
</table>