@model ToolsStore.Domain.Entities.CT_CATEGORY

@{
    ViewBag.Title = "Редактирование категорий" + @Model.Code;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Редактирование @Model.Code</h2>

@using (Html.BeginForm("CategoryEdit", "Categor"))
{
    <div>
        @Html.HiddenFor(x => x.CategoryId)
    </div>
    <div style="font-weight:bold">
        Код категории:
    </div>
    <div>
        @Html.EditorFor(x => x.Code)
    </div>
    <div>&nbsp;</div>
    <div style="font-weight:bold">
        Наименование:
    </div>
    <div>
        @Html.EditorFor(x => x.Name)
    </div>
    <div>&nbsp;</div>
    <div style="font-weight:bold">
        Порядок:
    </div>
    <div>
        @Html.EditorFor(x => x.Ord)
    </div>
    <div>&nbsp;</div>
    <div>
        @Html.HiddenFor(x => x.DateLoad)
    </div>
    <input type="submit" value="Сохранить" />
    @Html.ActionLink("Отменить и вернуться к списку", "Categories")
}