@model ToolsStore.WebUI.Models.EquipmentViewModel

@{
    ViewBag.Title = "Редактирование типа оборудования" + Model.Equipment.Code;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Редактирование @Model.Equipment.Code</h2>
<h3>Идентификатор: @Model.Equipment.EquipmentId</h3>

@using (Html.BeginForm("EquipmentEdit", "Equipmen"))
{
    <div>
        @Html.HiddenFor(x => x.Equipment.EquipmentId)
    </div>
    <div style="font-weight:bold">
        Код типа оборудования:
    </div>
    <div>
        @Html.EditorFor(x => x.Equipment.Code)
    </div>
    <div>&nbsp;</div>
    <div style="font-weight:bold">
        Категория:
    </div>
    <div>
        @Html.DropDownListFor(m => m.Equipment.CategoryId, new SelectList(Model.Categories, "CategoryId", "Name"), new { style = "width:338px" })
    </div>
    <div>&nbsp;</div>
    <div style="font-weight:bold">
        Наименование:
    </div>
    <div>
        @Html.EditorFor(x => x.Equipment.Name)
    </div>
    <div>&nbsp;</div>
    <div style="font-weight:bold">
        Наименование (добавочное):
    </div>
    <div>
        @Html.EditorFor(x => x.Equipment.NameExtra)
    </div>
    <div>&nbsp;</div>
    <div style="font-weight:bold">
        Порядок:
    </div>
    <div>
        @Html.EditorFor(x => x.Equipment.Ord, new { htmlAttributes = new { min = 0, max = 1000 } })
    </div>
    <div>&nbsp;</div>
    <div style="font-weight:bold">
        Признак активности:
    </div>
    <div>
        @Html.EditorFor(x => x.Equipment.IsActive)
    </div>
    <input type="submit" value="Сохранить" />
    @Html.ActionLink("Отменить и вернуться к списку", "Equipments")
}